[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-include = "*"
mdx-truly-sane-lists = "*"
mkdocs = "*"
mkdocs-bootstrap = "*"
mkdocs-bootswatch = "*"
mkdocs-simple-hooks = "*"
pymdown-extensions = "*"
importlib-metadata = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3"
