[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-include = "==0.5.1"
mdx-truly-sane-lists = "==1.0"
mkdocs = "==1.0.1"
pymdown-extensions = "==5.0"

[dev-packages]

[requires]
python_version = "3.6"
