backports-abc==0.4
certifi==2016.8.8
click==6.6
Jinja2==2.8
livereload==2.4.1
Markdown==2.6.6
MarkupSafe==0.23
mkdocs==0.16.0
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
pymdown-extensions==1.1
PyYAML==3.12
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.1
