machine:
  python:
    version: 3.6.0
  ruby:
    version: 2.3.0
dependencies:
  pre:
    - pip install pipenv
    - pipenv install
test:
  override:
    - bundle update
    - bundle exec fastlane test
    - bundle exec rubocop
    - bundle exec danger || echo "danger failed, moving on"
deployment:
  master:
    branch: master
    commands:
      - ./scripts/ci/deploy.sh
