version: 2.0

jobs:
  "Test":
    docker:
      - image: fastlanetools/ci:0.1.0
    working_directory: ~/code
    steps:
      - checkout
      - run: sudo pip3 install pipenv
      - run: pipenv install
      - run: bundle update
      - run: pipenv run bundle exec fastlane test
      - run: bundle exec rubocop
      - run: bundle exec danger || echo "danger failed, moving on"
  "Deploy":
    docker:
      - image: fastlanetools/ci:0.1.0
    working_directory: ~/code
    steps:
      - checkout
      - run: sudo pip3 install pipenv
      - run: pipenv install
      - run: pipenv run ./scripts/ci/deploy.sh

workflows:
  version: 2
  build:
    jobs:
      - "Test"
      - "Deploy":
          filters:
            branches:
              only: master
