version: 2.1
orbs:
  ruby: circleci/ruby@2.5.4
  python: circleci/python@3.3.0

jobs:
  "Test":
    docker:
      - image: cimg/ruby:3.1-node
    working_directory: ~/code
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pipenv
      - ruby/install-deps
      - run: pipenv run bundle exec fastlane test
      - run: bundle exec rubocop
      - run: bundle exec danger || echo "danger failed, moving on"
  "Deploy":
    docker:
      - image: cimg/ruby:3.1-node
    working_directory: ~/code
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pipenv
      - ruby/install-deps
      - run: pipenv run ./scripts/ci/deploy.sh

workflows:
  version: 2
  build:
    jobs:
      - "Test"
      - "Deploy":
          filters:
            branches:
              only: master
