.wy-breadcrumbs li {
  display: inline-block;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
  float: right;
}

.wy-breadcrumbs li a {
  display: inline-block;
  padding: 5px;
}

.wy-breadcrumbs li a:first-child {
  padding-left: 0;
}

.wy-breadcrumbs-extra {
  margin-bottom: 0;
  color: #b3b3b3;
  font-size: 80%;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .wy-breadcrumbs-extra {
    display: none;
  }

  .wy-breadcrumbs li.wy-breadcrumbs-aside {
    display: none;
  }
}

@media print {
  .wy-breadcrumbs li.wy-breadcrumbs-aside {
    display: none;
  }
}
