pre > code {
  font-family: "Liberation Mono", Menlo, Courier, monospace !important;
  color: #333 !important;
  font-size: 18px;
  line-height: 20px;
  background-color: #f3f3f3 !important;
  border: none !important;
  padding: 16px !important;
}