/* Fastlane colors:
 * blue: rgb(0, 93, 255)
 *
 */

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f7f7f7 !important;
  color: #333 !important;
  font-size: 14px !important;
  border: none !important;
  padding: 5px !important;
}

pre > code {
  line-height: 20px;
  padding: 16px !important;
}

blockquote {
  color: #777 !important;
  border-left: 4px solid rgb(221, 221, 221);
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 0px !important;
}

h3, h4, h5, h6 {
  color: #333 !important;
}

.rst-versions {
  display: none !important;
}

/* The next and previous button we don't need */
.rst-footer-buttons {
  display: none;
}

/* Foldable parts */
details > * {
  margin-left: 20px;
}
details > summary {
  margin-left: 0px; /* To overwrite the margin from above */

  font-size: 120%;
  cursor: pointer
}

/* Fix the design not having the correct spacing */
.wy-menu-vertical .subnav li.current > a {
  padding: 0.4045em 2.427em;
}

.toctree-l3 {
  padding-left: 1.0em;
}

footer .fastlane {
  margin: 20px 0;
}

footer .fastlane iframe {
  vertical-align: middle;
}

/* Custom Syntax highlighting to look more like GitHub.com */
.hljs-symbol {
  color: #0086b3;
}

.hljs-keyword {
  font-weight: normal;
  color: #a71d5d;
}

.hljs-string {
  color: #183691;
}
