<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ nav.homepage.url }}">Docs</a> &raquo;</li>
    {% if page %}
      {% for doc in page.ancestors %}
        {% if doc.link %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
        {% else %}
          <li>{{ doc.title }} &raquo;</li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page %}<li>{{ page.title }}</li>{% endif %}

    {% if page %}
      <li class="wy-breadcrumbs-aside">
        <a href="https://github.com/fastlane/docs/edit/master/docs/{{ page.input_path }}" class="icon icon-github" target="_blank">
          Edit on GitHub
        </a>
      </li>
    {% endif %}
  </ul>
  <hr/>
</div>
