{# loop through all navigation items #}
{# if the current item has children #}
  {% if toc_item.children %}
    {# if the current item title does not start with _ #}
    {% if true %}
      {% if not toc_item.title.startswith("_") %}
        <ul class="subnav">
          <li><span>{{ toc_item.title }}</span></li>
          {% for toc_item in toc_item.children %}
            {% include 'toc.html' %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {# if the current item does not have children #}
  {% else %}
    {# if the current item title does not start with _ #}
    {% if not toc_item.title.startswith("_") %}
      <li class="toctree-l1 
      {# if current item is active #}
      {% if toc_item.active %}current{% endif %}
      {# if current page has ancestors and current item title prefixed with _ is identical to ancestor title (_ + Action <=> _Action) #}
      {% if current_page and current_page.ancestors %}{% for doc in current_page.ancestors %}{% if "_"+toc_item.title == doc.title %}current{% endif %}{% endfor %}{% endif %}
      ">
        <a class="
        {% if toc_item.active %}current{% endif %}
        {% if current_page and current_page.ancestors %}{% for doc in current_page.ancestors %}{% if "_"+toc_item.title == doc.title %}current{% endif %}{% endfor %}{% endif %}
        " href="{{ toc_item.url }}">
          {{ toc_item.title }}
        </a>
        {# if current item is current page #}
        {% if toc_item == current_page %}
          <ul>
            EEEEEEEEEE
            {# output headlines #}
            {% for toc_item in toc %}
              {% if loop.index != 1 %}
                <li class="toctree-l3"><a href="{{ toc_item.url }}">EEEEE {{ toc_item.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endif %}
