<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ homepage_url }}">Docs</a> &raquo;</li>
    {% if current_page %}
      {% for doc in current_page.ancestors %}
        {% if doc.title == "_Actions" %}
          <!-- Special case for the hidden action pages -->
          <li><a href="/actions/">Actions</a> &raquo;</li>
        {% elif doc.link %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
        {% else %}
          <li>{{ doc.title }} &raquo;</li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if current_page %}<li>{{ current_page.title }}</li>{% endif %}

    {% if current_page and current_page.input_path != "actions.md" and current_page.input_path != "plugins/available-plugins.md" %}
      <li class="wy-breadcrumbs-aside">
        {% if "actions/" in current_page.input_path %}
          <!-- custom edit link for all actions -->
          <!-- Edit the action, from which we generate the docs -->
          <a href="https://github.com/fastlane/fastlane/edit/master/fastlane/lib/fastlane/actions/{{ current_page.title }}.rb" class="icon icon-github" target="_blank">
            Edit on GitHub
          </a>
        {% else %}
          <a href="https://github.com/fastlane/docs/edit/master/docs/{{ current_page.input_path }}" class="icon icon-github" target="_blank">
            Edit on GitHub
          </a>
        {% endif %}
      </li>
    {% endif %}
    <li class="wy-breadcrumbs-aside">
      <input type="text" name="q" placeholder="Search docs" />
    </li>
  </ul>
  <hr/>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<!-- at the end of the BODY -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: 'c651753b86f5f8a00f8f2e9e9ca95865',
    indexName: 'fastlane',
    inputSelector: 'body > div.wy-grid-for-nav > section > div > div > div:nth-child(1) > ul > li.wy-breadcrumbs-aside > input[type="text"]',
    debug: false
});
</script>
